In [1]:
"""
index comparison

v0.1

The goal of this sheet is to macro analyze various indexes by getting the YoY growth rates, average them, 
    and get their standard deviation as a measure of risk

"""

'\nindex comparison\n\nv0.1\n\nThe goal of this sheet is to macro analyze various indexes by getting the YoY growth rates, average them, \n    and get their standard deviation as a measure of risk\n\n'

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

%matplotlib inline

In [4]:
"""
Theres an opportunity in figuring out how to weigh these stock. Currently, I'm unsure of how they're weighed to 
    calcaulate S&P 500 and Nasdaq but i can research that and incorporate it into the thought process
    
there is another opportunity in adjusting the risk calculation using some of the same 3blue1brown technique in 
    calculating adjusted rating:
    https://www.youtube.com/watch?v=8idr1WZ1A7Q
    

"""

"\nTheres an opportunity in figuring out how to weigh these stock. Currently, I'm unsure of how they're weighed to \n    calcaulate S&P 500 and Nasdaq but i can research that and incorporate it into the thought process\n    \nthere is another opportunity in adjusting the risk calculation using some of the same 3blue1brown technique in \n    calculating adjusted rating:\n    https://www.youtube.com/watch?v=8idr1WZ1A7Q\n    \n\n"

In [5]:
"""
Put the below tickers into a list of dictionaries so i can scale up on individual stocks
    or create an object where the name points to the characteristics I'm looking for

check syntax
"""

# Comparisons = ["sp500": yf.Ticker("^GSPC")]

"\nPut the below tickers into a list of dictionaries so i can scale up on individual stocks\n    or create an object where the name points to the characteristics I'm looking for\n\ncheck syntax\n"

In [6]:
# indexes

sp500 = yf.Ticker("^GSPC")
nasdaq =  yf.Ticker("^IXIC")

In [7]:
# real tickers

Vanguard500 = yf.Ticker("voo")
baseline = yf.Ticker("aivsx")
otherbaseline = yf.Ticker("piodx")

In [8]:
# Dividend Aristocrats ETFs

DA_SP1500 = ("SDY")
DA_nasdaq = ("VIG")
DA_DowJones = ("DVY")
DA_PreferredShares = ("PFF")
DA_WeightedByDividend = ("DTD")

In [9]:
"""
Calculate YoY growth,
determine avg growth
determine avg risk (standard deviation)
"""

'\nCalculate YoY growth,\ndetermine avg growth\ndetermine avg risk (standard deviation)\n'

In [10]:
df = sp500.history(period='max').reset_index()

In [11]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1927-12-30,17.66,17.66,17.66,17.66,0,0,0
1,1928-01-03,17.76,17.76,17.76,17.76,0,0,0
2,1928-01-04,17.72,17.72,17.72,17.72,0,0,0
3,1928-01-05,17.55,17.55,17.55,17.55,0,0,0
4,1928-01-06,17.66,17.66,17.66,17.66,0,0,0
...,...,...,...,...,...,...,...,...
23183,2020-04-20,2845.62,2868.98,2820.43,2823.16,5220160000,0,0
23184,2020-04-21,2784.81,2785.54,2727.10,2736.56,5075830000,0,0
23185,2020-04-22,2787.89,2815.10,2775.95,2799.31,5049660000,0,0
23186,2020-04-23,2810.42,2844.90,2794.26,2797.80,5756520000,0,0
23187,2020-04-24,2812.64,2842.71,2791.76,2836.74,5374480000,0,0

In [12]:
year = df['Date'].iloc[0].year
print(year)

1927

In [13]:
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [14]:
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
0,1927-12-30,17.66,17.66,17.66,17.66,0,0,0,1927
1,1928-01-03,17.76,17.76,17.76,17.76,0,0,0,1928
2,1928-01-04,17.72,17.72,17.72,17.72,0,0,0,1928
3,1928-01-05,17.55,17.55,17.55,17.55,0,0,0,1928
4,1928-01-06,17.66,17.66,17.66,17.66,0,0,0,1928
...,...,...,...,...,...,...,...,...,...
23183,2020-04-20,2845.62,2868.98,2820.43,2823.16,5220160000,0,0,2020
23184,2020-04-21,2784.81,2785.54,2727.10,2736.56,5075830000,0,0,2020
23185,2020-04-22,2787.89,2815.10,2775.95,2799.31,5049660000,0,0,2020
23186,2020-04-23,2810.42,2844.90,2794.26,2797.80,5756520000,0,0,2020
23187,2020-04-24,2812.64,2842.71,2791.76,2836.74,5374480000,0,0,2020

In [15]:
lastTradingRow = df.iloc[0]
lastTradingRow.Year

1927

In [16]:
for index, row in df[1:3].iterrows():
     print(index, row)

1 Date            1928-01-03 00:00:00
Open                          17.76
High                          17.76
Low                           17.76
Close                         17.76
Volume                            0
Dividends                         0
Stock Splits                      0
Year                           1928
Name: 1, dtype: object
2 Date            1928-01-04 00:00:00
Open                          17.72
High                          17.72
Low                           17.72
Close                         17.72
Volume                            0
Dividends                         0
Stock Splits                      0
Year                           1928
Name: 2, dtype: object

In [17]:
yearly_df = pd.DataFrame(columns = df.columns)
yearly_df

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, Year]
Index: []

In [18]:
for index, row in df[1:].iterrows():
     if row.Year == lastTradingRow.Year + 1:
            print(index)
            yearly_df = yearly_df.append(df[index-1:index])
            lastTradingRow = row

1
251
500
751
1003
1253
1495
1744
1994
2247
2497
2747
2996
3247
3497
3748
3998
4249
4495
4745
4995
5246
5496
5745
5994
6244
6495
6747
6999
7250
7502
7754
8007
8259
8509
8761
9012
9265
9517
9769
10020
10246
10496
10750
11003
11254
11506
11759
12012
12265
12517
12769
13022
13275
13528
13781
14034
14287
14539
14792
15045
15298
15550
15803
16056
16310
16563
16815
17067
17321
17574
17826
18078
18330
18578
18830
19082
19334
19586
19837
20088
20341
20593
20845
21097
21347
21599
21851
22103
22355
22606
22857
23109

In [20]:
yearly_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
0,1927-12-30,17.66,17.66,17.66,17.66,0,0,0,1927
250,1928-12-31,24.35,24.35,24.35,24.35,0,0,0,1928
499,1929-12-31,21.45,21.45,21.45,21.45,0,0,0,1929
750,1930-12-31,15.34,15.34,15.34,15.34,0,0,0,1930
1002,1931-12-31,8.12,8.12,8.12,8.12,0,0,0,1931
...,...,...,...,...,...,...,...,...,...
22102,2015-12-31,2060.59,2062.54,2043.62,2043.94,2655330000,0,0,2015
22354,2016-12-30,2251.61,2253.58,2233.62,2238.83,2670900000,0,0,2016
22605,2017-12-29,2689.15,2692.12,2673.61,2673.61,2443490000,0,0,2017
22856,2018-12-31,2498.94,2509.24,2482.82,2506.85,3442870000,0,0,2018
23108,2019-12-31,3215.18,3231.72,3212.03,3230.78,2893810000,0,0,2019

In [24]:
if df.iloc[-1].Year > yearly_df.iloc[-1].Year:
    print("yes")
    yearly_df = yearly_df.append(df.iloc[-1])

In [25]:
yearly_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Year
0,1927-12-30,17.66,17.66,17.66,17.66,0,0,0,1927
250,1928-12-31,24.35,24.35,24.35,24.35,0,0,0,1928
499,1929-12-31,21.45,21.45,21.45,21.45,0,0,0,1929
750,1930-12-31,15.34,15.34,15.34,15.34,0,0,0,1930
1002,1931-12-31,8.12,8.12,8.12,8.12,0,0,0,1931
...,...,...,...,...,...,...,...,...,...
22354,2016-12-30,2251.61,2253.58,2233.62,2238.83,2670900000,0,0,2016
22605,2017-12-29,2689.15,2692.12,2673.61,2673.61,2443490000,0,0,2017
22856,2018-12-31,2498.94,2509.24,2482.82,2506.85,3442870000,0,0,2018
23108,2019-12-31,3215.18,3231.72,3212.03,3230.78,2893810000,0,0,2019
23187,2020-04-24,2812.64,2842.71,2791.76,2836.74,5374480000,0,0,2020